@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: "Cambo", serif;
    --paragraph-font: "Merriweather", serif;

    --primary-color: #A24936  ;
    --secondary-color: #3E5641 ;
    --accent1-color: #83BCA9;
    --accent2-color: #282B28;

    --nav-link-color: #282B28;
    --nav-background-color: #D36135;
    --nav-hover-link-color: #83BCA9;
    --nav-hover-background-color: #282B28;
}

h2, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p {
    font-family: var(--paragraph-font);
}

.sociallinks > a, nav > a {
    text-decoration: none;
}

body {
    max-width: 960px;
    padding-left: 4rem;
    text-align: justify;
}

h1 {
    position: absolute;
    top: 70px;
    left: 0px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.398);
    color: #a53e3e;
    width: 58.6rem;
    height: auto;
    text-align: center;
}

.hero {
    position: relative;
    height: auto;
    padding: 0;
}

.hero article {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 105, 181, .6);
    color: #fff;
    text-align: justify;
    width: 80%;
    font-size: larger;
    padding: 20px;
}

.hero img {
    display: block;
    width: 100%;
}

.hero > article > img {
    width: 200px;
    padding-left: 20px;

}

article img {
    float: right;
}

header {
    display: grid;
    grid-template-columns: 1fr 1.5fr
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    border: 1px solid black;
    padding: 5px 20px;
    width: 72px;
    text-align: center;
}
    
header img {
    justify-self: center;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 20px;
}

.history h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 35px;
    text-align: center;

}

.history_first_paragraph {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: -40px;
    margin-left: 50px;
}

.history img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 170px;
    width: 100%;
    margin-top: -38px;
}

.history_second_paragraph {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-top: -40px;
    margin-right: 50px;
}

.adventure h2 {
    text-align: center;
}

.images_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: -20px;

}

.images_block img {
    height: 100px;
    width: 140px;
    max-width: 150%;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 2px solid var(--accent2-color);

}

footer p {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    padding-top: 15px;
}

.wireframe {
    grid-column: 3 / 1;
    color: #ffffff; /* White color */
    background-color: #a24936; /* Background color */
    padding: 10px 2px; /* Padding around the link */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    text-align: center;
    font-style: italic;
    font-size: larger;
}

.wireframe:hover {
    background-color: #83281d; /* Darker background color on hover */
}

.footer-link:hover {
    background-color: #83281d; /* Darker background color on hover */
}

.sociallinks {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-gap: 13px;
    margin-top: 12px;

}

.contact-body .heading > h1 {
    margin-left: 4.5rem;
    padding-top: 80px;
    margin-top: 150px;
    height: 150px;
    background-color: #8ACDEA;
    font-size: 2.6rem;
}

.contact-body .heading > p {
    position: absolute;
    top: 350px;
    display: block;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.employee {
    margin-top: 200px;
}

.employee1, .employee2, .employee3 {
    display: flex;
    justify-content: center;
}

.employee1 > .text-header, .employee2 > .text-header, .employee3 > .text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
    background-color: aliceblue;
}

.employee h2 {
    color: black
}


.employee1 > img, .employee2 > img, .employee3 > img {
    width: 92%;
    height: 400px;
    object-fit: cover;
}

.two {
    flex-direction: row-reverse;
}

.three > img {
    width: 85%;
}

.contact {
    display: flex;
    justify-content: center;
    width: 960px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 57px;
    background-color: #FFFD98;
}

.iframe {
    width: 964px;
    height: 600px;
}

form {
    text-align: center;
    background-color: #8ACDEA;
}

form > fieldset > h2 {
    padding-top: 40px;
}

form > fieldset > p {
    padding-top: 20px;
    font-size: large;
    color: #3E5641
}

.user-contact {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.form-item > label {
    display: block; /* Ensure each label appears on a new line */
    font-weight: bold;
    text-align: left;
}

input[type="text"], input[type="email"] {
    width: 300px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

.form-item2 {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    margin-top: 30px;
  }

.message-purpose > h5, .feedback {
    font-weight: bold;
    padding: 5px;
}

textarea {
    width: 400px;
    height: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    margin: 1rem;
    background-color: slateblue;
    color: aliceblue;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

/* Styling for the Trips.html */
.trips-header .heading > h1 {
    background-image: url('../images/trips-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3.5rem;
    letter-spacing: 3px;
}

.trips-header p {
    margin: 300px 51px 40px 51px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color:#3E5641;
}

.trips-header a {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border: 1px solid bisque;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
}

.trips-header a:hover, .main-trips a:hover {
    background-color: #0056B3;
}

.main-trips, .other-trips {
    display: flex;
}

.middle-section, .sub-section{
    border-top: 1px dotted black;
    margin-top: 100px;
    text-align: center;
}

.middle-section h2, .sub-section h2 {
    font-family: 'Times New Roman', Times, serif;
    color:#3E5641;
}

.sub-section {
    margin-top: 80px;
    text-align: center;
    border-bottom: 1px dotted black;

}

.main-trips h4, .other-trips {
    font-size: 20px;
}

.main-trips img, .other-trips img {
    width: 300px;
    padding: 15px;
    margin-bottom: 30px;
}

.other-trips img {
    height: 200px;
    justify-content: center;
    margin-left: 50px;
}

.main-trips a, .other-trips a {
    border: 1px solid bisque;
    padding: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
}

.other-trips a {
    display: flex;
    margin-left: 150px;
    margin-right: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.other-trips h4 {
    margin-left: 50px;
}

.table-container {
    margin: 20px auto;
    width: 80%;
  }
  
  table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  thead th {
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  
  /* tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  tr:hover {
    background-color: #f2f2f2;
  }


/* Homepage Styles */
#home-title {
    position: absolute;
    top: 60px;
    left: 40px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: left;
    font-family: 'Roboto Condensed', 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: 5rem;
    line-height: 5rem;
    
}

.home img{
    filter: brightness(80%);

}

.hero-paragraph {
    position: absolute;
    top: -100px;
    left: -40px;
    color: #fff;
    text-align: left;
    width: 80%;
    font-size: larger;
    padding: 20px;
}

#button {
    background-color:#0056B3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Condensed', 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 4px 2px;
  }

.hero .hero-home {
    background-color: transparent;
}

.home-quote {
    font-family: 'Karma', serif;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #3E5641;
    line-height: 40px;
    margin: 40px 100px;
}

.trip-adverts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding-top: 40px;
    text-align: left;
}

.trip-adverts img {
    width: 290px;
    height: 200px;
    padding-bottom: 50px;
    border-radius: 30px;
}

.trip-adverts a {
    font-family: 'Roboto Condensed', 'Times New Roman', serif;
    color:#a53e3e;
    font-size: 27px;
    text-decoration: none;
}

.trip-adverts a:hover {
    text-decoration: underline;
}

.trip-adverts .one {
    background-color: blanchedalmond;
    border-radius: 30px;
}

.trip-adverts .two {
    background-color: #abc8e7;
    border-radius: 30px;
}

.trip-adverts .three {
    background-color: #b3e4c6;
    border-radius: 30px;
}

.adventure-card {
    border: 1px solid black;
}

.adventure-card > p, a {
    padding: 0 20px;
}

.home-section {
    background-color: #ddd;
    height: 400px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.home-section h2 {
    text-align: left;
    font-size: 30px;
    color: var(--primary-color);
    font-family: sans-serif;
    text-decoration: underline;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 60px;
}

.benefit-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.benefit-section h4 {
    font-size: 22px;
}

.benefit-section i {
    font-size: 50px;
    color:#3E5641;
}

.benefit-section p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 12px;
}


.home-form {
    padding: 20px 200px;
}

.space {
    padding-bottom: 50px;
}