@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

:root {
    --heading-font: "Cambo", serif;
    --paragraph-font: "Merriweather", serif;

    --primary-color: #A24936  ;
    --secondary-color: #3E5641 ;
    --accent1-color: #83BCA9;
    --accent2-color: #282B28;

    --nav-link-color: #282B28;
    --nav-background-color: #D36135;
    --nav-hover-link-color: #83BCA9;
    --nav-hover-background-color: #282B28;
}

h2, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p {
    font-family: var(--paragraph-font);
}

.sociallinks > a, nav > a {
    text-decoration: none;
}

body {
    max-width: 960px;
    padding-left: 4rem;
    text-align: justify;
}

h1 {
    position: absolute;
    top: 70px;
    left: 0px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.398);
    color: #a53e3e;
    width: 58.6rem;
    height: auto;
    text-align: center;
}

.hero {
    position: relative;
    height: auto;
    padding: 0;
}

.hero article {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 105, 181, .6);
    color: #fff;
    text-align: justify;
    width: 80%;
    font-size: larger;
    padding: 20px;
}

.hero img {
    display: block;
    width: 100%;
}

.hero > article > img {
    width: 200px;
    padding-left: 20px;

}

article img {
    float: right;
}

header {
    display: grid;
    grid-template-columns: 1fr 1.5fr
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    border: 1px solid black;
    padding: 5px 20px;
    width: 72px;
    text-align: center;
}
    
header img {
    justify-self: center;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 20px;
}

.history h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 35px;
    text-align: center;

}

.history_first_paragraph {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: -40px;
    margin-left: 50px;
}

.history img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 170px;
    width: 100%;
    margin-top: -38px;
}

.history_second_paragraph {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-top: -40px;
    margin-right: 50px;
}

.adventure h2 {
    text-align: center;
}

.images_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: -20px;

}

.images_block img {
    height: 100px;
    width: 140px;
    max-width: 150%;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 2px solid var(--accent2-color);

}

footer p {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    padding-top: 15px;
}

.sociallinks {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-gap: 13px;
    margin-top: 12px;

}

.contact-body .heading > h1 {
    margin-left: 4.5rem;
    padding-top: 80px;
    margin-top: 150px;
    height: 150px;
    background-color: #a0aca8;
    font-size: 2.6rem;
}

.contact-body .heading > p {
    position: absolute;
    top: 350px;
    display: block;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.employee {
    margin-top: 200px;
}

.employee1, .employee2, .employee3 {
    display: flex;
    justify-content: center;
}

.employee1 > .text-header, .employee2 > .text-header, .employee3 > .text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}


.employee1 > img, .employee2 > img, .employee3 > img {
    width: 92%;
    height: 400px;
    object-fit: cover;
}

.two {
    flex-direction: row-reverse;
}

.three > img {
    width: 85%;
}

.contact {
    display: flex;
    justify-content: center;
    width: 960px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 57px;
    background-color: #83BCA9;
}

.iframe {
    width: 964px;
    height: 600px;
}

form {
    text-align: center;
    background-color: #a0aca8;
}

form > fieldset > h2 {
    padding-top: 40px;
}

form > fieldset > p {
    padding-top: 20px;
    font-size: large;
    color: #3E5641
}

.user-contact {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.form-item > label {
    display: block; /* Ensure each label appears on a new line */
    font-weight: bold;
    text-align: left;
}

input[type="text"], input[type="email"] {
    width: 300px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

.form-item2 {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    margin-top: 30px;
  }

legend, .feedback {
    font-weight: bold;
    padding: 5px;
}

textarea {
    width: 400px;
    height: 60x;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    margin: 1rem;
    background-color: slateblue;
    color: aliceblue;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(0, 7, 100);
}
